/* google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.App {
  visibility: visible;
}

.App_Hidden {
  visibility: hidden;
}

.pages {
  max-width: 400px;
  padding: 50px;
  margin: 0 auto;
}
.container {
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: rgba(192, 192, 192, 0.476);
}
.container a {
  color: #333;
  text-decoration: none;
}
.menu {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
}

#songs {
  height: 90px;
  width: 90px;
}

.nav {
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.heading {
  width: 250px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headicon {
  padding-right: 10px;
}

.playlist-details {
  display: flex;
  align-items: center;
  width: 220px;
  height: 50px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
}

.playlist-details button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 5px;
}

.playlists {
  contain: content;
  height: 220px;
  overflow-y: scroll;
}

.playlist-btns {
  display: flex;
  flex-direction: row-reverse;
}

.songs {
  overflow-y: scroll;
  height: 210px;
}
.song-details {
  border-radius: 4px;
  margin: 0px auto;
  padding: 5px;
  position: relative;
}

.button {
  width: 230px;
  height: 40px;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.button p {
  margin: 0px;
  font-size: 14px;
}

.button > .album-art {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-image: url("../musicfiles/default.png");
  background-size: contain;
  border-radius: 50px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  height: 280px;
}

.player-album-art {
  width: 140px;
  height: 140px;
  background-image: url("../musicfiles/default.png");
  background-size: contain;
  border-radius: 50%;
  margin-top: 10px;
}

.player-song-info {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 65px;
  margin: 10px 0px 10px 0px;
}

.player-song-info p {
  margin: 0px auto;
  overflow: hidden;
}

.player-title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.player-artist-album {
  font-size: 16px;
}

.player-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.player span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: white;
}

.player .player-play {
  height: 55px;
  width: 55px;
}

.confirm {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding-left: 20px;
}
